<h4>Angular PrimeNG</h4>
 
<p-tabView>
    <p-tabPanel header="Data Structure" [closable]="true">
        <p>
            A data structure is a particular way of
            organizing data in a computer so that it
            can be used effectively.
        </p>
        <a href="https://www.geeksforgeeks.org/data-structures/">
            Click Here
        </a>
    </p-tabPanel>
 
    <p-tabPanel header="Web Technology" [closable]="true">
        <p>
            Web Technology refers to the various tools
            and techniques that are utilized in the process
            of communication between different types of devices
            over the internet.
        </p>
        <a href="https://www.geeksforgeeks.org/web-technology/">
            Click Here
        </a>
    </p-tabPanel>
     
    <p-tabPanel header="Algorithm" [closable]="true">
        <p>
            The word Algorithm means “a process or set of
            rules to be followed in calculations or other
            problem-solving operations”.
        </p>
        <a href=
"https://www.geeksforgeeks.org/introduction-to-algorithms/">
            Click Here
        </a>
    </p-tabPanel>
</p-tabView>

<router-outlet></router-outlet>
